# .NET
bin/
obj/
*.user
*.suo
*.userprefs
*.sln.docstates
.vs/
*.csproj.user
appsettings.Development.json

# Node
node_modules/
dist/
.angular/
.sass-cache/
npm-debug.log*
yarn-error.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
postgres_data/

# Environment
.env
*.log
